* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --hue: 184;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),66%,24%);
  --primary: hsl(var(--hue),66%,44%);
  --gradient: linear-gradient(145deg, hsl(var(--hue),10%,85%), hsl(var(--hue),10%,100%));
  font-size: 16px;
}

body,
button {
  color: var(--fg);
  font: 1em/1.5 "Nunito", sans-serif;
}
body {
  background: var(--bg);
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 1.5em 0 0 0;
}

body:after {
  content: "";
  display: block;
  height: 1.5em;
  width: 100%;
}


.app,
.header,
.main__date-nav,
.main__stat-row,
.main__stat-graph,
.footer {
  display: flex;
}
.header,
.main__date-nav,
.footer {
  justify-content: space-between;
}

.header__profile-btn,
.header__notes-btn,
.main__date-arrow-btn,
.main__date-edit-btn,
.footer__nav-btn {
  background: transparent;
  display: flex;
  outline: transparent;
  transition: all 0.15s linear;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.app {
  background: hsl(var(--hue),10%,85%);
  border-radius: 3em;
  flex-direction: column;
  padding: 2.25em;
  width: 390px;
  height: 844px;
}
.app__gradients {
  position: absolute;
  width: 1px;
  height: 1px;
}
